extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    body.aboutBG 
    .jumbotron(style='background:white !important')
      .container
        #tab-1.links
          h1.ml8
            span.letters-container
              span.letters.letters-left Taskr
              span.letters.bang !
            span.circle.circle-white
            span.circle.circle-dark
            span.circle.circle-container
              span.circle.circle-dark-dashed
    // <div class="jumbotron jumbotron-fluid footer" id="bottom">
    .container
      h6.description
        bold About TASKr!
      p
        | TASKr is simple.  "If you need quick cash then post a TASK".  Started by GW Coding Bootcamp Students Gabe, Keka, Antonie and Duane,
        | TASKr helps bring together people who perform Tasks and those who need them done!
      
    // </div>
    br
    br
    br
    // <div class="jumbotron jumbotron-fluid footer" id="bottom">
    .container
      .row
          .col-lg-12.text-center
            h6.description OUR TEAM
            .row.pt-md
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='images/gabe.jpg')
                  ul.text-center
                    a(href='https://github.com/Gperry22')
                      li
                        i.fa.fa-github
                    a(href='https://www.linkedin.com/in/gabe-perry-3168935b/')
                      li
                        i.fa.fa-linkedin
                h1 Gabe Perry 
                h2 About me
                p
                  li  I once did a 20 miles Spartan Beast in 32* Weather
                  li I'm passionate about Motorcycles, Pitbulls, Technology
                  li
                    | I like to people watch and associate people with either a smell, a song, or a nickname
                  li
                    | In my spare time when not coding, I ride my motorcycle, visit and try new coffee shops, play with my 2 pitbulls Drake and Dex, Camp or explore new Tech! I'm also very passionate about helping the homeless, and human equality!.
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='images/duane.jpg')
                  ul.text-center
                    a(href='https://github.com/dbailey25')
                      li
                        i.fa.fa-github
                    a(href='https://www.linkedin.com/in/duanebailey25/')
                      li
                        i.fa.fa-linkedin
                h1 Duane Bailey
                h2 About me
                p
                  | I helped set a world record for the largest ensemble of angklung players. An angklung is an Indonesian percussion instrument, we played 'We are the World' on The National Mall, by the Washington Monument.
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='images/keka.jpeg')
                  ul.text-center
                    a(href='https://github.com/kekaduval')
                      li
                        i.fa.fa-github
                    a(href='https://www.linkedin.com/in/keka-sylvie-duval-26a44614b/')
                      li
                        i.fa.fa-linkedin
                h1 Keka Duval
                h2 About me
                p  
                  li I once volunteered for 3 months, in a little province in Haiti- in an orphanage.  we fed about 50-150 little kids a day. 
                  li I am in love with my dog (versace) but animals in general terrifies me!
                  li Ive survived the 7.0 earthquake in Haiti back in 2010. Most terrifying thing ever
                  li In my spare time, I love discovering new restaurants and new cool spots in the city, a little shopping, a walk/play with my dog.
                  li I love to travel
                  li Im from an island and I don’t know how to swim.
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='images/antoine.png')
                  ul.text-center
                    a(href='https://github.com/antoinebartholomew')
                      li
                        i.fa.fa-github
                    a(href='https://www.linkedin.com/in/antoine-bartholomew-ba5b7317/')
                      li
                        i.fa.fa-linkedin
                h1 Antoine
                h2 About me
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      // </div>
    footer.footer
      .container-fluid
        p.text-center.footerFont  Copyright 2018 Taskr! services 



