//extent layout.jade ============================================================================== 
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    .container
      .jumbotron
        h1.text-center Account Settings!
      .row
        .offset-md-3.col-md-2    
            button#editAccountSubmit.btn.btn-primary(type='submit') Update Acct
        .col-md-2    
            button#deleteSubmit.btn.btn-primary(type='submit') Delete Acct
        .col-md-2        
            a.btn.btn-primary(href='/home') Cancel

            
    #myModal.modal1
      .modal1-content
          span.close ×
          #modal1Body   



