//extent layout.jade ============================================================================== 
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    .container
      .jumbotron
        h1.text-center Account Settings!
      .row
        .offset-md-3.col-md-2    
            button#editAccountSubmit.btn.btn-primary(type='submit') Update Acct
        .col-md-2    
            button#deleteSubmit.btn.btn-primary(type='submit') Delete Acct
        .col-md-2        
            a.btn.btn-primary(href='/home') Cancel

        #deleteModal.modal
            .modal-content
                
                #accountToBeDeleted
                div
                    h5
                        | Warning: Clicking the "Confirm" Button below will delete your account and all
                        | associated Tasks.  This account is final!
                    .row
                        .offset-md-3.col-md-1
                        button#deleteConfirm.btn.btn-primary(type='submit') Confirm
                        .col-md-1
                        a#deleteCancel.btn.btn-primary(href='/home') Cancel

        #accountUpdateModal.modal
            .modal-content
                .jumbotron
                    h1.text-center CREATE AN ACCOUNT!
                .row
                    .offset-md-3.col-md-6
                        form
                            div#accountID
                            .form-group
                            label(for='password') Password
                            input#userPasswordUp1.form-control.text-center(type='name', placeholder='Password')
                            small.form-text.text-muted Must be atleast 3 characters min
                            .form-group
                            label(for='password') Confirm Password
                            input#userPasswordUp2.form-control.text-center(type='name', placeholder='Confirm Password')
                            small.form-text.text-muted Must be atleast 3 characters min              
                            .form-group.text-center
                            label(for='secQuestionOne') Security Question 1
                            select#secQuestionOneUp.form-control.text-center
                                option What is you mothers maiden name?
                                option Name of your childhood best friend?
                                option Make of your first car?
                            .form-group
                            label(for='secQuestionOneAnswer') Answer
                            input#secQuestionOneAnswerUp.form-control.text-center(type='text', placeholder='Enter your Answer')
                            .form-group.text-center
                            label(for='secQuestionTwo') Security Question 2
                            select#secQuestionTwoUp.form-control.text-center
                                option Name of your first pet?
                                option Name of your high school mascot?
                                option City of your birth?
                            .form-group
                            label(for='secQuestionTwoAnswer') Answer
                            input#secQuestionTwoAnswerUp.form-control.text-center(type='text', placeholder='Enter your Answer')
                            .form-group.text-center
                            label(for='secQuestionThree') Security Question 3
                            select#secQuestionThreeUp.form-control.text-center
                                option What is your favorite color?
                                option Name of the street you grew up on?
                                option Apple or Samsung?
                            .form-group
                            label(for='secQestionOneAnswer') Answer
                            input#secQuestionThreeAnswerUp.form-control.text-center(type='text', placeholder='Enter your Answer')
                        .row
                            .col-md-2    
                                buttonbutton#accountUpdateSubmit.btn.btn-primary Submit
                            .col-md-1        
                                a.btn.btn-primary(href='/home') Cancel


