extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
  body.accountSettingsBG 
      .jumbotron(style='background:white !important')
        #tab-1.links
          h1.ml8
            span.letters-container
              span.letters.letters-left Taskr
              span.letters.bang !
            span.circle.circle-white
            span.circle.circle-dark
            span.circle.circle-container
              span.circle.circle-dark-dashed  
    .container
      .row
        .offset-md-3.col-md-6.bgwhite.createPostModelSettings  
          form
            .form-group
              input#usernameForgotPass.form-control.text-center(type='name', placeholder='Enter your Username')
        .offset-md-3.col-md-3.bgwhite.text-right.createPostModelSettings  
              button#forgotPassSubmit.btn.btn-primary Submit
        .col-md-3.bgwhite.text-left.createPostModelSettings  
              a#cancelBtn.btn.btn-primary(href='/') Cancel
      div#secQuesInputs
      div#passwordInputs     


      #myModal.modal1
        .modal1-content
            span.close ×
            #modal1Body  


  