                                    //Forgot password page

//extent layout.jade ============================================================================== 
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    .container
      .jumbotron
        h1.text-center RESET YOUR PASSWORD!
      .row
        .offset-md-3.col-md-6
          form
            .form-group
              input#usernameForgotPass.form-control.text-center(type='name', placeholder='Enter your Username')
        .offset-md-5.col-md-1.text-center            
              button#forgotPassSubmit.btn.btn-primary Submit
        .col-md-1.text-center        
              a#cancelBtn.btn.btn-primary(href='/') Cancel
      div#secQuesInputs
      div#passwordInputs     



  