                  //Homepage to login account
//extent layout.jade ============================================================================== 
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    .container  
      .jumbotron
        #tab-1.links
          h1.ml8
            span.letters-container
              span.letters.letters-left Taskr
              span.letters.bang !
            span.circle.circle-white
            span.circle.circle-dark
            span.circle.circle-container
              span.circle.circle-dark-dashed
      
    
      br  
          
      .row
        .offset-md-3.col-md-3
            .form-group
              input#username.form-control.text-center(type='name', placeholder='Username')
        .col-md-3
         .form-group
              input#userPassword.form-control.text-center(type='password', placeholder='Password')
        .col-md-2
         .form-group
            buttonbutton#loginSubmit.btn.btn-primary Submit
      .row
        .offset-md-3.col-md-3.text-center
          a(href='/signup') Register for an Account
        .col-md-3.text-center
          a(href='/forgotpassword') Forgot Password
        br
        br
      .text-content
        h3
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 



      
        
        br
        br     
        .image-content
          .swiper-container
            // Additional required wrapper
            .swiper-wrapper
              // Slides
              .swiper-slide
                img(src='./images/AutoWork.jpeg', alt=' ', height='200', width='300')
              .swiper-slide
                img(src='./images/carpenter.jpeg', alt=' ', height='200', width='300')
              .swiper-slide 
                img(src='./images/doctor.jpeg', alt=' ', height='200', width='300')
              .swiper-slide 
                img(src='./images/paint.jpeg', alt=' ', height='200', width='300')
              .swiper-slide
                img(src='./images/19-unsplash.jpg', alt=' ', height='200', width='300')
              .swiper-slide
                img(src='./images/22-unsplash.jpg', alt=' ', height='200', width='300')
              .swiper-slide 
                img(src='./images/50-unsplash.jpg', alt=' ', height='200', width='300')
              .swiper-slide 
                img(src='./images/90-unsplash.jpg', alt=' ', height='200', width='300')
              .swiper-slide
                img(src='./images/carpenter.jpeg', alt='Skilled Labor', height='200', width='350')
              .swiper-slide 
                img(src='./images/doctor.jpeg', alt='Medical', height='200', width='350')
              .swiper-slide 
                img(src='./images/paint.jpeg', alt='Img4', height='200', width='350')
            // If we need pagination
            .swiper-pagination
            // If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
            // If we need scrollbar
            //.swiper-scrollbar
          
            script.
              $(document).ready(function () {
              var swiperContainer = document.querySelector('.swiper-container')
              if (swiperContainer) {
              var mySwiper = new Swiper('.swiper-container', {
              // Optional parameters
              direction: 'horizontal',
              loop: true,
              slidesPerView: 3,
              spaceBetween: 300,
              // If we need pagination
              pagination: {
              el: '.swiper-pagination',
              },
              // Navigation arrows
              navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
              },
              // And if we need scrollbar
              scrollbar: {
              el: '.swiper-scrollbar',
              },
              })
              }
              });
          br
          br
      #myModal.modal1
        .modal1-content
          span.close ×
          #modal1Body   




        
            
    
    // Footer
    #bottom.jumbotron.jumbotron-fluid.footer
          
        