extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
  body.signUpPageBG 
      .jumbotron(style='background:white !important')
        #tab-1.links
          h1.ml8
            span.letters-container
              span.letters.letters-left Taskr
              span.letters.bang !
            span.circle.circle-white
            span.circle.circle-dark
            span.circle.circle-container
              span.circle.circle-dark-dashed  
    .container
      .row
        .offset-md-3.col-md-6.bgwhite.createPostModelSettings
          form
            .form-group
              label(for='username') 
                | Username 
                span(style='color:red;') *
              input#userNameCreate.form-control(type='name', placeholder='Create a Username')
              small.form-text.text-muted Must be atleast 3 characters min
              #userNameOk
            .form-group
              label(for='Img') User Image (Not Required but Welcomed!)
              input#userPic.form-control(type='text', placeholder='http://www.jobs-rated-headline.jpg', maxlength='300')
              small.form-text.text-muted Enter a Line to Your Profile Photo
            .form-group
              label(for='password') 
                | Password 
                span(style='color:red;') *
              input#userPasswordCreate.form-control(type='name', placeholder='Password')
              small.form-text.text-muted Must be atleast 3 characters min
            .form-group
              label(for='password') 
                | Confirm Password 
                span(style='color:red;') *
              input#userPasswordCreate2.form-control(type='name', placeholder='Confirm Password')
              small.form-text.text-muted Must be atleast 3 characters min              
            .form-group
              label(for='secQuestionOne') 
                | Security Question 1 
                span(style='color:red;') *
              select#secQuestionOne.form-control
                option(selected='') What is you mothers maiden name?
                option Name of your childhood best friend?
                option Make of your first car?
            .form-group
              label(for='secQuestionOneAnswer') 
                | Security Question 1 Answer 
                span(style='color:red;') *
              input#secQuestionOneAnswer.form-control(type='text', placeholder='Enter your Answer')
            .form-group
              label(for='secQuestionTwo') 
                | Security Question 2 
                span(style='color:red;') *
              select#secQuestionTwo.form-control
                option(selected='') Name of your first pet?
                option Name of your high school mascot?
                option City of your birth?
            .form-group
              label(for='secQuestionTwoAnswer') 
                | Security Question 2 Answer 
                span(style='color:red;') *
              input#secQuestionTwoAnswer.form-control(type='text', placeholder='Enter your Answer')
            .form-group
              label(for='secQuestionThree') 
                | Security Question 3 
                span(style='color:red;') *
              select#secQuestionThree.form-control
                option(selected='') What is your favorite color?
                option Name of the street you grew up on?
                option Apple or Samsung?
            .form-group
              label(for='secQestionOneAnswer') 
                |  Security Question 3 Answer 
                span(style='color:red;') *
              input#secQuestionThreeAnswer.form-control(type='text', placeholder='Enter your Answer')
            .form-group
              label(for='text') 
              span(style='color:red;') * 
              | Indicates a Required Field
        .offset-md-3.col-md-3.bgwhite.text-right.createPostModelSettings  
            buttonbutton#signupSubmit.btn.btn-primary Submit
        .col-md-3.bgwhite.text-left.createPostModelSettings  
            a.btn.btn-primary(href='/') Cancel
     


    #myModal.modal1
        .modal1-content
          span.close ×
          #modal1Body   


