//extent layout.jade ==============================================================================
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
      .container
            .row
              .col-md-2
                button#autoMaintenance.btn.btn-primary Auto Maintenance
              .col-md-2
                button#childcare.btn.btn-primary Childcare
              .col-md-2
                button#culinary.btn.btn-primary Culinary
              .col-md-2
                button#eventPlanning.btn.btn-primary Event Planning
              .col-md-2
                button#homeMaintenance.btn.btn-primary Home Maintenance
              .col-md-2
                button#instruction.btn.btn-primary Instruction
        .rowBackground
          .row
            #userPostedTask


block content2
    .container
      .row
        .offset-md-7.col-md-2
          a.btn.btn-primary(href='/create') Create Task
        .col-md-2
          a.btn.btn-primary(href='/user/settings/:user') Account Settings
        .col-md-1
          button#logoutSubmit.btn.btn-primary(type='submit') Log Out




