//extent layout.jade ============================================================================== 
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    .container
      .row
        .offset-md-7.col-md-2
          a.btn.btn-primary(href='/tasks') View All Tasks
        .col-md-2
          a.btn.btn-primary(href='/user/settings/:user') Account Settings
        .col-md-1
          button#logoutSubmit.btn.btn-primary(type='submit') Log Out
          button#logoutSubmit1.btn.btn-primary(type='submit') click me
    .container
      .row
        h3#userName.rowBackground
        .offset-md-12
      .row
        h3.rowBackground Pending Task
        #userPendingTask.offset-md-12
        h1 
      .row
        h3.rowBackground Completed Task
        #userCompletedTask.offset-md-12

        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>