button.submit {
    float: right;
}

form#cms {
    margin-top: 50px;
}

#cms textarea {
    resize: none;
}

.panel-heading button.delete,
button.edit {
    float: right;
    margin: 5px;
}

.author-container {
    margin-top: 50px;
}

.author-list {
    margin-top: 25px;
}

.blog-container {
    margin-top: 30px;
}

.blog {
    margin-top: 30px;
}

.hidden {
    display: none;
}

#author-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.top-30 {
    margin-top: 30px;
}

.rowBackground {
    background-color: white;
}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
body {
    /* background-color: rgba(255, 255, 255, 0.85);; */
    background-color: #D4E5E8;
}

.container {
    width: 100%;
    text-align: center;
    height: auto;
    border: 0.5px color:green;
}

.swiper-container {
    width: 600px;
    height: 300px;
}

.wrapper{
    width: 825px;
    overflow-x:scroll;
    white-space: nowrap;
}

.slide{
    background: #ccc;
    height: 200px;
    display: inline-block;
    width: 205px;
}

.ml8 letters-left {
    text-align: center;
}

h1.ml8 {
    /* font-weight: 500px; */
    font-size: 2.5em;
    color: #fff;
    width: 3em;
    height: 3em;
    text-align: center;
}


/* taskr qui est a l'interieur du rond */

.ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
    text-align: center;
}

.ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
}


/* le point d'exclamation */

.ml8 .bang {
    font-size: 2.4em;
    top: auto;
    left: -0.06em;
}


/*la direction du cercle opaque vert  */

.ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}


/*  le rond blanc qui disparait*/

.ml8 .circle-white {
    width: 5em;
    height: 5em;
    border: 2px dashed white;
    border-radius: 2em;
}


/* le rond ver */

.ml8 .circle-dark {
    width: 3.4em;
    height: 3.4em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
}


/* le rond avec les points  */

.ml8 .circle-dark-dashed {
    border-radius: 5.5em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 3.6em;
    height: 3.6em;
}

a:hover {
    color: #e478e8;
}

#tab-1,
#tab-2 {
    position: relative;
    bottom: 15px;
    right: 35px;
}


/*  les link, distance entre les mots*/

.links a {
    margin: 0px 85px;
    color: black;
    /*font-size: 24px;*/
    background-color: rgba(255, 255, 255, 0.0);
    border: 0.5px solid rgba(255, 255, 255, 0.0);
    transition: color 1s, background-color 1s;
}

.links a,
.platforms a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.13em;
    border-radius: 1px;
    text-decoration: none;
    padding: 3px 10px;
    padding-top: 6px;
}

.links a:hover,
.platforms a:hover {
    color: #287ee6;
    background-color: #e5f9ff;
    border: 0.5px solid #4f7b86;
    text-decoration: none;
}


/* footer */


/* .footer {
    margin-bottom: 0;
    background-color: #4f7b86;
    color: white;
    padding: 2%;
    position:;
  }
.footerTitle {
    color: rgba(153, 243, 17, 0.637);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.copy {
    margin-top: 2%;
    text-align: center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
} */

footer,
.push {
    height: 100px;
}

footer {
    /* Box-model */
    padding: 30px 0;
    /* Positioning */
    clear: both;
    font-size: 12px;
    /* Typography */
    color: #ccc;
    text-align: center;
    /* Visual */
    background: #666;
    border-top: 8px solid #4aaaa5;
}

.hover-image {
    margin: 5px;
    height: 75px;
    width: 75px;
    -webkit-transition: all 1s ease-in-out;
    color: green;
}

.hover-image:hover {
    height: 75px;
    width: 75px;
    filter: none;
    -webkit-transform: scale(1.25);
    color: green;
}


/*Home Page Table CSS*/


.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: green;
  min-width: 900px;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 3px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {

  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 3px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 15%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -50%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 100%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

/*End Home Page CSS*/
